@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');

// Override default Bootstrap variables before the import
$body-bg: #f3f3f3;
$blue: #1890ff;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

body {
	margin: 0;
	font-family: 'Bitter', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: 'Bitter', serif;
}

.nav-item {
	padding: 5px 10px;
	> a {
		color: #000;
	}
	.active {
		color: $blue;
	}
}

.btn-light {
	border: 1px solid #ddd;
}
